.withoutband {
  padding: 160px 14% 60px 14%;
}

.fond-diff {
  border: 2px solid #a27e40;
  background-color: #0d0d0d9a;
  max-width: 800px ;
  margin: 4rem auto;

}

.album {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

.albumGenre {
}

.shooting-card {
  /* A REMETTRE POUR CONTOUR SYMPA */
  border: 2px solid #a27e408a;
  padding: 1.5rem;
  margin: 20px auto;
  width: 230px;
  height: 280px;
  background-color: #0d0d0d;
}

.picture-book {
  height: 100%;
  max-width: 100%;
  width: 100vw;
}
.btnGallery {
  margin: 5px;
  height: 20px;
  width: 100px;
}


.carousel-root {
  width: 100%;
  padding: 0 10px;
}
.carousel {
  width: 100%;
}

.carousel .overlay {
  width: 100%;
  /* border: 3px solid red; */
}

.carousel .thumbs {
  /* margin-top: 20px; */
}

.carousel .slider-wrapper {
  /* border: 2px solid red; */
}

.carousel-slider {
  margin: 0 10px;
  border: 2px solid #a27e40;
  /* padding: 0 10px; */
}

.carousel .control-dots {
  width: max-content;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
.fond-diff {
    margin: 2rem auto;
}
}