.page{
    display: flex;
    flex-direction: column;
}

.bande-photo {
width: 100%;
height: calc(100vh - 91px); /* 75px de nav + 16px padd nav*/
object-fit: cover;
min-height: 100vh; }




.home {
text-align:left;  
  padding: 50px 14% 60px 14%;

}

.home > h3 {
    margin: 0.8rem 0;
    font-size: 1.4rem;
    color : #c29d5e;
}

.home > p {
    text-align: justify;
}

@media screen and (max-width: 800px) {


    .salon-pic {
        width: cover;
        height: 100vh;
        object-fit: cover;
     }

h1{
    font-size: 28px;
}

}